body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    background-color: #f4f4f4;
}

.container {
    text-align: center;
    background-color: rgb(255, 255, 255);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.button {
    margin-top: 20px;
}

.resultados {
    display: flex;
    justify-content: center;
    margin: 20px 0;
}

.dado {
    width: 50px;
    height: 50px;
    margin: 0 10px;
    font-size: 24px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid #ddd;
    border-radius: 5px;
}

#grafico-probabilidad {
    margin-top: 20px;
}
